40 % profit overall pe bahar nikal jana
overall 80 pts low pe bahar 


any one stoploss hit : bring 2nd one to entry price of its own
sl trail : percent will always be on price

if 10 % profit then bring sl to 5 % inside. sl should always be greater than market price






